apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: morrishh/babbly-frontend:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3000
        env:
        - name: NEXT_PUBLIC_API_URL
          valueFrom:
            configMapKeyRef:
              name: babbly-external-config
              key: API_GATEWAY_EXTERNAL_URL
        - name: NEXT_PUBLIC_AUTH0_DOMAIN
          valueFrom:
            secretKeyRef:
              name: auth0-secrets
              key: AUTH0_DOMAIN
        - name: NEXT_PUBLIC_AUTH0_CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: auth0-secrets
              key: AUTH0_CLIENT_ID
        - name: NEXT_PUBLIC_AUTH0_AUDIENCE
          valueFrom:
            secretKeyRef:
              name: auth0-secrets
              key: AUTH0_AUDIENCE
        - name: AUTH0_SECRET
          valueFrom:
            secretKeyRef:
              name: auth0-secrets
              key: AUTH0_SECRET
        - name: AUTH0_BASE_URL
          valueFrom:
            configMapKeyRef:
              name: babbly-external-config
              key: FRONTEND_EXTERNAL_URL
        - name: AUTH0_ISSUER_BASE_URL
          valueFrom:
            secretKeyRef:
              name: auth0-secrets
              key: AUTH0_DOMAIN
        - name: AUTH0_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: auth0-secrets
              key: AUTH0_CLIENT_SECRET 